p {
  border: solid 1px #ddd;
  padding: 10px;
  overflow: hidden;
}
p span.shape {
  width: 100px;
  height: 100px;
  float: left;
  padding: 30px;
  background: #555;
  clip-path: circle(50%);
  shape-outside: circle(50%);
}
