.page {
  display: flex;
}
.page a {
  display: block;
  padding: 0.3rem 0.8rem;
  border: solid 1px #ddd;
  margin-right: -1px;
  color: #555;
}
.page a:first-child {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.page a:last-child {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.page a.current {
  border: solid 1px #ddd;
  background: #27ae60;
  color: #fff;
}
